<div id="link_block">
  <strong>нажмите чтобы вставить ссылку:</strong>
  <ul>
    <% @possible_links.each do |link| %>
    <li><a href="#" onclick="insertAtCaret('content','[[<%=link%>|<%=link%>]]');return false;"><%=link%></a></li>
    <%end%>
  </ul>
</div>
