<h3>Markdown+itex2MML инструкция по форматированию (<a target="_new" href="http://daringfireball.net/projects/markdown/syntax">основы</a>, <a target="_new" href="http://michelf.com/projects/php-markdown/extra/">расширенная версия</a>, <a target="_new" href="http://golem.ph.utexas.edu/~distler/maruku/proposal.html">метадата</a>, <a target="_new" href="http://golem.ph.utexas.edu/instiki/show/Theorems">теорема</a>)</h3>
<p>Для полного описание LaTeX команд <a href="http://golem.ph.utexas.edu/~distler/blog/itex2MMLcommands.html">itex2MML описание</a>.</p>
<p>Маркдаун по-русски, краткое описание: <a href="http://vstarkov.ru/markdown-basics/" target='_blank'>Основы markdown</a>
  <br/>
  Более подробно: <a href='https://github.com/OlgaVlasova/markdown-doc' target='_blank'>описание markdown</a>
  и еще: <a href='http://ydmitriy.ru/blog/rukovodstvo-po-markdown-dlya-uproshcheniya-veb-razrabotki/' target='_blank'>описание markdown</a>
</p>
<%= render(:file => "markdown_table") -%>
