<table cellspacing="0" cellpadding="0" style="width: 400px">
  <tr><td>_ваш текст_</td><td class="arrow">&#x2192;</td><td><em>ваш текст</em></td></tr>

  <tr><td>**ваш текст**</td><td class="arrow">&#x2192;</td><td><strong>ваш текст</strong></td></tr>

  <tr><td>`мой код`</td><td class="arrow">&#x2192;</td><td><code>мой код</code></td></tr>

  <tr><td>* Список<br />* Второй элемент</td><td class="arrow">&#x2192;</td><td>&#8226; Список<br />&#8226; Второй элемент</td></tr>

  <tr><td>1. Нумерованный список<br />2. Второй элемент</td><td class="arrow">&#x2192;</td><td>1. Нумерованный список<br />2. Второй элемент</td></tr>

  <tr><td>Список определений<br />: полезный</td><td class="arrow">&#x2192;</td><td><dl style="display:inline"><dt>Список определений</dt><dd>полезный</dd></dl></td></tr>

  <tr><td>[имя ссылки](URL)</td><td class="arrow">&#x2192;</td><td><a href="URL">Ссылка</a></td></tr>

  <tr><td>![замещающий текст](URL)</td><td class="arrow">&#x2192;</td><td>Картинка</td></tr>

  <tr><td>[[present.pdf:file]]</td><td class="arrow">&#x2192;</td><td>Можно загрузить файл<br/> и переименовать в present.pdf</td></tr>
  <tr><td>[[kitten.jpg:pic]]</td><td class="arrow">&#x2192;</td><td>Можно загрузить картинку<br/> и переименовать в kitten.jpg</td></tr>

  <tr><td>## Заголовок ##<br />### Подзаголовок ###<br />#### Подподзаголовок####<br/>##### Др. подзаголовки #####</td><td class="arrow">&#x2192;</td>

    <td><b><span style="font-size:1.73em">Подзаголовок</span>
          <br/><span style="font-size:1.44em">Подподзаголовок</span><br/><span style="font-size:1.2em">Подподзаголовок</span>
          <br/><span style="font-size:1em">Др. подзаголовки</span></b></td></tr>

  <tr><td>***</td><td class="arrow">&#x2192;</td><td>Горизонтальная линия</td></tr>

  <tr><td>Какой-то текст[^хороший] здесь.<br/>[^хороший]: Хорошая печать.</td><td class="arrow">&#x2192;</td><td>Сноска</td></tr>

  <tr><td>*[США]: Соединенные Штаты Америки<br/>*[ppm]: parts per million</td><td class="arrow">&#x2192;</td><td>Аббревиатуры</td></tr>
</table>
