<h3>Wiki слова</h3>
<p style="border-top: 1px dotted #ccc; margin-top: 0px; width: 400px;">
  Два или более в таком стиле: 'ЭтоВикиСлово' или любая фраза в двойных кавычках [[C++]] [[Russia Rulezz]]
  будет превращено в вики-слово. Можно отменить преобразование так: \НеВикиСлово
</p>
<p>
  Вики слова: <i>HomePage, ThreeWordsTogether, [[C++]], [[Let's play again!]]</i><br/>
  Не вики слова: <i>IBM, School</i>
</p>
